{%- liquid
    assign heading = "Program Detail"
    assign text = product.description
    assign page = block_settings.accordion_page
    assign content = page.content | default: text
  -%}
  
  {%- if heading != '' and content != '' -%}
    <div class="product__accordion">
      <button class="product__accordion__title h2 is-expanded" aria-controls="ProductAccordion--page-{{ heading | handle }}--{{ section.id }}--{{ block_id }}" data-collapsible-trigger aria-expanded="true">
        {{- heading -}}
        {%- render 'icon-toggle-plus' -%}
        {%- render 'icon-toggle-minus' -%}
      </button>
      <div class="product__accordion__content is-expanded" id="ProductAccordion--page-{{ heading | handle }}--{{ section.id }}--{{ block_id }}" data-collapsible-container aria-expanded="true" style="height: auto;">
        <div class="product__accordion__inner rte" data-collapsible-content>
          {{- content -}}
        </div>
      </div>
    </div>
  {%- endif -%}